
<% wrap_layout :inner do %>
    <% content_for :sidebar do %>
        <div class="docs-sidebar hidden-print affix-top" role="complementary">
          <ul class="nav docs-sidenav">
            <li<%= sidebar_current("docs-home") %>>
              <a href="/docs/providers/index.html">All Providers</a>
            </li>

            <li>
              <a href="#">Azure Providers</a>
              <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-azuread-index") %>>
                   <a href="/docs/providers/azuread/index.html">Azure Active Directory</a>
                </li>
                <li<%= sidebar_current("docs-azurerm-index") %>>
                   <a href="/docs/providers/azurerm/index.html">Azure</a>
                </li>
                <li<%= sidebar_current("docs-azurestack-index") %>>
                   <a href="/docs/providers/azurestack/index.html">Azure Stack</a>
                </li>
              </ul>
            </li>

            <li<%= sidebar_current("docs-azuread-authentication") %>>
              <a href="#">Authentication</a>
              <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-azuread-authentication-azure-cli") %>>
                   <a href="/docs/providers/azuread/auth/azure_cli.html">Authenticating using the Azure CLI</a>
                </li>

                <li<%= sidebar_current("docs-azuread-authentication-managed-service-identity") %>>
                   <a href="/docs/providers/azuread/auth/managed_service_identity.html">Authenticating using Managed Service Identity</a>
                </li>

                <li<%= sidebar_current("docs-azuread-authentication-service-principal-client-certificate") %>>
                   <a href="/docs/providers/azuread/auth/service_principal_client_certificate.html">Authenticating using a Service Principal with a Client Certificate</a>
                </li>

                <li<%= sidebar_current("docs-azuread-authentication-service-principal-client-secret") %>>
                   <a href="/docs/providers/azuread/auth/service_principal_client_secret.html">Authenticating using a Service Principal with a Client Secret</a>
                </li>
                <li<%= sidebar_current("docs-azuread-configuring-service-principal-client-secret") %>>
                   <a href="/docs/providers/azuread/auth/service_principal_configuration.html">Configuring a Service Principal</a>
                </li>
              </ul>
            </li>

            <li<%= sidebar_current("docs-azuread-datasource") %>>
              <a href="#">Data Sources</a>
              <ul class="nav nav-visible">

                <li<%= sidebar_current("docs-azuread-datasource-azuread-application") %>>
                  <a href="/docs/providers/azuread/d/application.html">azuread_application</a>
                </li>

                <li<%= sidebar_current("docs-azuread-datasource-azuread-domains") %>>
                  <a href="/docs/providers/azuread/d/domains.html">azuread_domains</a>
                </li>

                <li<%= sidebar_current("docs-azuread-datasource-azuread-group") %>>
                  <a href="/docs/providers/azuread/d/group.html">azuread_group</a>
                </li>

                <li<%= sidebar_current("docs-azuread-datasource-azuread-application") %>>
                  <a href="/docs/providers/azuread/d/service_principal.html">azuread_service_principal</a>
                </li>

                <li<%= sidebar_current("docs-azuread-datasource-azuread-user") %>>
                  <a href="/docs/providers/azuread/d/user.html">azuread_user</a>
                </li>

              </ul>
            </li>

            <li<%= sidebar_current("docs-azuread-resource-azuread") %>>
              <a href="#">Azure Active Directory Resources</a>
              <ul class="nav nav-visible">

                <li<%= sidebar_current("docs-azuread-resource-azuread-application") %>>
                  <a href="/docs/providers/azuread/r/application.html">azuread_application</a>
                </li>

                <li<%= sidebar_current("docs-azuread-resource-azuread-application-password") %>>
                  <a href="/docs/providers/azuread/r/application_password.html">azuread_application_password</a>
                </li>

                <li<%= sidebar_current("docs-azuread-resource-azuread-group") %>>
                  <a href="/docs/providers/azuread/r/group.html">azuread_group</a>
                </li>

                <li<%= sidebar_current("docs-azuread-resource-azuread-service-principal-x") %>>
                  <a href="/docs/providers/azuread/r/service_principal.html">azuread_service_principal</a>
                </li>

                <li<%= sidebar_current("docs-azuread-resource-azuread-service-principal-password") %>>
                  <a href="/docs/providers/azuread/r/service_principal_password.html">azuread_service_principal_password</a>
                </li>

                <li<%= sidebar_current("docs-azuread-resource-azuread-user") %>>
                  <a href="/docs/providers/azuread/r/user.html">azuread_user</a>
                </li>

              </ul>
            </li>

          </ul>
        </div>
    <% end %>

    <%= yield %>
<% end %>
